:root{
	--htmlcss: 80%;
	--js: 60%;
	--php: 65%;
	--py: 15%;
	--mysql: 40%;
	--cpp: 30%;
}

.php {
	width: var(--php);
}
.mysql {
	width: var(--mysql);
}
.js {
	width: var(--js);
}
.py {
	width: var(--py);
}
.htmlcss {
	width: var(--htmlcss);
}
.cpp {
	width: var(--cpp);
}



.php, .mysql, .js, .py, .htmlcss, .cpp {
	height: 100%;
	background-color: #4ecca3;
}